<?php
/**
 * Configuration du module DzTask
 *
 * Si vous avez un dossier ./config/autoload/ dans votre projet, vous pouvez
 * y mettre ce fichier de configuration et changer les valeurs selon vos besoins.
 */
$settings = array(
    /**
     * Nom de la classe d'entité tache
     *
     * Nom de la classe d'entité à utiliser. Utile si vous voulez utiliser votre
     * propre classe d'entité au lieu de la classe par défaut.
     * La classe par défaut est DzTask\Entity\Task.
     * La classe d'entité doit implémenter DzTask\Entity\TaskInterface
     */
    'task_entity_class' => 'DzTask\Entity\Task',
);

/**
 * Ne pas modifier
 */
return array(
    'dztask' => $settings,
);